<div class="container-profile">
  <div class="profile-first-info-brewer">
    <div class="profile-title">
      <h2><%= @brewery[0].name %></h2>
      <div class="edit-icon-brewer-profile">
        <%= link_to edit_brewery_path(@brewery[0].id) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
    </div>
    <div class='brewery-photo'>
      <img src='<%= cl_image_path(@brewery[0].photo) %>' height='500'>
    </div>
    <div class="brewery-description-profile">
      <p><%= @brewery[0].description %></p>
    </div>
  </div>
  <div class="profile-brewery-container">
    <div class="profile-brewery-beers-container">
      <div class="listed-beers-title">
        <h2> Your listed beers</h2>
        <div class="add-new-beer-btn">
          <%= link_to new_beer_path do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>
      <div class="beers-brewer-profile-page-cards">
        <% @beers.each do |beer| %>
          <%= link_to beer_path(beer) do %>
            <div class="brewer-beer-card">
              <div class="brewer-beer-card-body" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(beer.photo) %>">
                <div class="brewer-beer-card-link">
                  <div class="brewer-beer-card-name">
                    <%= beer.name %><br>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="show-brewery-card">
    <div class="brewery-find-title">
      <h2>Your infos</h2>
    </div>
    <div class="brewery-find-description">
      <%= @brewery[0].address %><br>
      <%= @brewery[0].phone_number %><br>
      <%= @brewery[0].email %><br>
      <%= link_to "Your Website", "#{@brewery[0].website}", target: "_blank" %>
    </div>
  </div>
</div>



