<% def check_liked(post) %>
  <% if LikeBatch.where(user: current_user, review_batch: post).count.zero? %>
    <% return "" %>
  <% else %>
    <% return " liked" %>
  <% end %>
<% end %>



<div class="container-profile">
  <div class="row">
    <div class="col-xs-12 col-md-6 marg-bot">
      <h2>Profile info</h2>
      <div class="profile-info">
        <%= cl_image_tag @user.photo, class: "avatar" %>
        <p class="profile-name"><b>Name:</b> <%= @user.first_name %> <%= @user.last_name %></p>
        <p><b>Username:</b> <%= @user.username %></p>
        <p><b>Located at:</b> <%= @user.location %></p>
        <p><b>About:</b> <%= @user.description %></p>
        <p><b>Contact me at:</b> <%= @user.email %></p>

        <% if current_user == @user %>
        <div class="center-self">
          <%= link_to "Edit info",edit_user_registration_path,class: "edit-profile-btn btn-profile" %>
        </div>
        <% end %>
      <% if user_signed_in? && current_user != @user %>
      <div class="friend-btn-container">
        <% if !@connection %>
        <i class="fas fa-user-plus"></i><%= link_to "Add Friend", add_friend_path(@user.id)%>
        <% elsif @connection %>
        <p>Friends</p><i class="fas fa-check"></i>
        <% end %>
      </div>
      <% end %>
      </div>

    </div>
    <div class="col-xs-12 col-md-3 marg-bot">
      <h2>Recent reviews</h2>
      <% @posts.each do |post| %>
      <div class="wrapper-post">
        <div class="box-post">
          <div class="info-post">
            <%= cl_image_tag post.user.photo, class: "avatar-post"%>
            <% if current_user != @user %>
            <%= link_to like_path(post.id), remote: true do %>
            <div class="likes<%= check_liked(post) %>", data-div="<%= post.id %>", id="likes-hidden-<%= post.id %>">
              <p id="likes-count-<%= post.id %>"><%= post.like_batches.all.count %></p><i class="far fa-thumbs-up"></i> <!-- Set here that if you liked it it displays solid thumb -->
            </div>
            <% end %>
            <% else %>
            <div class="likes">
              <p><%= post.like_batches.all.count %></p><i class="far fa-thumbs-up"></i> <!-- Set here that if you liked it it displays solid thumb -->
            </div>
            <% end %>

            <div class="comments-profile">
              <p><%= post.comment_batches.all.count %></p><i class="far fa-comment-dots"></i>
            </div>
          </div>
          <div class="big-content-post">
            <div class="title-post">
              <%= raw " <i class='fas fa-star'></i> " * post.rating.round %><br>
              <%= post.batch.beer.name %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if current_user == @user %>
    <h2>Friend Finder</h2>
    <div class="col-xs-12 col-md-3 marg-bot">
      <!-- Below is the container to find other people -->
      <div class="search-friends-container">
        <%= simple_form_for(User.new, method: :post, url: show_with_username_path) do |f| %>
        <%= f.input :username, collection: @all_names %>
        <%= f.button :submit, value: "Go to profile" %>
        <% end %>
      </div>
      <div class="profile-numbers">
        <ul class="numbers-ul">
          <li class="user-numbers">#Friends: <%= @friends_count %></li>
          <li class="user-numbers">#Reviewed Batches: <%= @review_batches %></li>
          <li class="user-numbers">#Reviewed Breweries: <%= @review_breweries %></li>
        </ul>
      </div>
    </div>
    <% else %>
      <div class="col-xs-12 col-md-3 marg-bot">
        <% @top3_beers.each do |beer| %>
          <%= link_to beer_path(beer) do %>
            <div class="beer-card">
              <div class="beer-card-body" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(beer.photo) %>">
                <div class="beer-card-link">
                  <div class="beer-card-name">
                    <p><%= raw " <i class='fas fa-star'></i> " * beer.rating.round %></p>
                    <%= beer.name %>
                  </div>
                  <div class="beer-card-alcohol">
                    <%= beer.alcohol_percentage %>%<br>
                  </div>
                  <div class="beer-card-brewery">
                    <%= beer.brewery.name %><br>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
