<% if current_user.admin? %>
  <%= render 'brewer_profile.html.erb' %>
<% else %>
  <%= render 'user_profile.html.erb' %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="center-self">
        <%= link_to "Edit info",edit_user_registration_path,class: "edit-profile-btn btn-profile" %>
      </div>
    </div>
    <div class="col-6">
      <div class="container">
        <div  class="row">
          <div class="col-3"> <p><b></b> <%= @friend_connections %></p>
          </div>

          <div class="col-3"><p><b># Review beers</b> <%= @review_beers %></p>
          </div>

          <div class="col-3"><p><b>Review breweries</b> <%= @review_breweries %></p>
          </div>

          <div class="col-3"><p><b>Review comments</b>
            <%@review_comments.each do |review| %>
              <%= review.content %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
