<style>
  body {
    height: 100vh;
  }

</style>
<% if current_user %>
<div id="demo">
  <%= form_for :geoloc, url: profile_geoloc_url, remote: true,  id: :geoloc do |f| %>
      <%= hidden_field_tag :lat %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :lng %>
  <% end %>

</div>
  <% end %>

<div class="landing">
  <div class="landing-content">
    <div class="landing-title">
      <h2>Don't just drink beer</h2>
      <h1>Tap Into It</h1>
    </div>
    <div class="landing-search-bar">
      <%= form_tag(beers_path, method: :get) do%>
      <%= text_field_tag(:search, params[:search], class: "search-bar", placeholder: "Find a beer...")%><br>
      <% end %>
    </div>
    <div class="brewery-search-bar">
      <%= form_tag(breweries_path, method: :get) do%>
      <%= text_field_tag(:search, params[:search], class: "search-brewery", placeholder: "Or a brewery...")%><br>
      <% end %>
    </div>
  </div>
</div>
