<div class='breweries-title'>
<h2>Breweries Page</h2>
</div>

<div class='breweries-wrapper'>
  <div class='breweries-container'>
    <div class='breweries-cards'>
      <% @breweries.each do |brewery| %>
        <%= link_to brewery_path(brewery) do %>
        <div class='brewery-card'>
          <div class='brewery-card-image' style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(brewery.photo) %>">
            <div class='brewery-card-name'>
              <%= brewery.name %>
            </div>
           <!--  <div class='brewery-card-description'>
              <%= brewery.description %>
            </div> -->
            <div class='brewery-card-address'>
              <%= brewery.address %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
