<div class='breweries-wrapper'>
  <div class='breweries-title'>
    <h2>Breweries Page</h2>
  </div>
  <div class='breweries-container'>
    <div class='breweries-cards'>
      <% @breweries.each do |brewery| %>
        <%= link_to brewery_path(brewery) do %>
        <div class='brewery-card'>
          <div class='brewery-card-image' style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(brewery.photo) %>">
            <div class='brewery-card-name'>
              <%= brewery.name %>
            </div>
           <!--  <div class='brewery-card-description'>
              <%= brewery.description %>
            </div> -->
            <div class='brewery-card-address'>
              <%= brewery.address %>
              <%= brewery.distance_from([current_user.lat, current_user.lng]).round(3) %> km
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper" text-align="center">
  <div id="map" style="width: 100vw; height: 350px; margin-top: 90px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
