<div class="wrap-brewery">
  <div class="brewery-first-info">
    <div class='brewery-title'>
      <h2><%= @brewery.name %></h2>
    </div>

    <div class='brewery-photo'>
        <img src='<%= cl_image_path(@brewery.photo) %>' height='500'>
    </div>
    <div class="brewery-description">
      <p><%= @brewery.description %></p>
    </div>
  </div>

<div class="social-btns">
  <div class="checkin-wrap">
    <% if  user_signed_in? && current_user.checkins.where(brewery: @brewery)[0].nil? %>
      <%= link_to checkin_path(@brewery.id), remote: true do%>
      <div class="checkin-btn go-to-beers-btn">

        <i class="fas fa-map-marker-alt"></i><p id="not-checked-in" class="not-checked-in nounderline"> Check In</p>
      </div>
      <% end %>
      <% elsif user_signed_in? && !current_user.checkins.where(brewery: @brewery)[0].nil? %>
      <div class="checkin-btn go-to-beers-btn">
        <i class="fas fa-map-marker-alt"></i><p id="checked-in" class="checked-in nounderline"> Checked In</p>
      </div>
        <% end %>
    </div>
  <div class="follow-wrap">
    <% if  user_signed_in? && current_user.follows.where(brewery: @brewery)[0].nil? %>
      <%= link_to follow_path(@brewery.id) do%>
      <div class="follow-btn go-to-beers-btn">

        <p id="not-followed" class="not-followed nounderline"><i class="fas fa-rss-square"></i> Follow</p>
      </div>
      <% end %>
      <% elsif user_signed_in? && !current_user.follows.where(brewery: @brewery)[0].nil? %>
      <div class="follow-btn go-to-beers-btn">
        <p id="followed" class="followed nounderline"><i class="fas fa-rss-square"></i> Followed</p>
      </div>
        <% end %>
    </div>
  </div>
<div class='brewery-container'>
  <div class="brewery-beers-container">
    <div class="brewery-beers-title">
      <h2>Our Beers</h2>
    </div>
    <div class="brewery-child brewery-beer-cards">
      <% @beers.each do |beer| %>
        <%= link_to beer_path(beer) do %>
          <div class="brewery-child brewery-beer-card">
            <div class="brewery-beer-card-body" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(beer.photo) %>">
              <div class="brewery-beer-card-link">
                <div class="brewery-beer-card-name">
                  <%= beer.name %><br>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-brewery-card">
    <div class="brewery-find-title">
      <h2>Find Us</h2>
    </div>
    <div class="brewery-find-description">
      <%= @brewery.address %><br>
      <%= @brewery.phone_number %><br>
      <%= @brewery.email %><br>
      <%= link_to "Visit our Website", "#{@brewery.website}", target: "_blank" %>
       <% if current_user  %>
          <%= @brewery.distance_from([current_user.lat, current_user.lng]).round(3) %> km
        <% end %>
      </div>
  </div>


  <div class="back-btn">
    <%= link_to "Back to breweries", breweries_path, class: 'go-to-beers-btn' %>
  </div>
</div>



