<div class="beer-profile">
  <div class='brewery-title-show'>
    <div class='brewery-photo'>
      <img src='<%= cl_image_path(@brewery.photo) %>' height='500'>
    </div>
      <h2><%= @brewery.name %></h2><br>
  </div>

<div class='brewery-map'>
  <div id="map" style="width: 100vw; height: 350px; margin-top: 90px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="show-brewery-card">
    <h4>Contact Details:</h4>
    <p><strong>Address: </strong><%= @brewery.address %></p>
    <p><strong>Phone Number: </strong><%= @brewery.phone_number %></p>
    <p><strong>Email: </strong><%= @brewery.email %></p>
    <p><%= @brewery.description %></p>

  </div>
  <div class="more-brew-desc">
    <p><strong><%= link_to "Visit #{@brewery.name}'s Website", "https://www.beerproject.be/en", target: "_blank" %></strong></p>
     <% if current_user  %>
                <%= @brewery.distance_from([current_user.lat, current_user.lng]).round(3) %> km
              <% end %>

  </div>

  <h2>Check all this Brewery's beers</h2>
  <div class="brewery-beers-container">
    <div class="brewery-child brewery-beer-cards">
      <% @beers.each do |beer| %>
        <%= link_to beer_path(beer) do %>
          <div class="brewery-child brewery-beer-card">
            <div class="brewery-beer-card-body" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(beer.photo) %>">
              <div class="brewery-beer-card-link">
                <div class="brewery-beer-card-name">
                  <%= beer.name %><br>
                </div>
                <div class="brewery-beer-card-alcohol">
                  <%= beer.alcohol_percentage %>%<br>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if  user_signed_in? && current_user.checkins.where(brewery: @brewery)[0].nil? %>
  <%= link_to checkin_path(@brewery.id), remote: true do%>
  <div class="checkin-btn go-to-beers-btn">

    <i class="fas fa-map-marker-alt"></i><p id="not-checked-in" class="not-checked-in"> Check In</p>
  </div>
  <% end %>
  <% elsif user_signed_in? && !current_user.checkins.where(brewery: @brewery)[0].nil? %>
  <div class="checkin-btn go-to-beers-btn">
    <i class="fas fa-map-marker-alt"></i><p id="checked-in" class="checked-in"> Checked In</p>
    <% end %>
  </div>

<% if  user_signed_in? && current_user.follows.where(brewery: @brewery)[0].nil? %>
  <%= link_to follow_path(@brewery.id) do%>
  <div class="follow-btn go-to-beers-btn">

    <p id="not-followed" class="not-followed">Follow</p>
  </div>
  <% end %>
  <% elsif user_signed_in? && !current_user.follows.where(brewery: @brewery)[0].nil? %>
  <div class="follow-btn go-to-beers-btn">
    <p id="followed" class="followed">Followed</p>
    <% end %>
  </div>


  <%= link_to "Go back to breweries", breweries_path, class: 'go-to-beers-btn' %>


  </div>



