<div class="beer-container">
   <div class="beer-title-header">
    <h2>Beers</h2>
   </div>
  <div class="beer-cards">
    <% @beers.each do |beer| %>
      <%= link_to beer_path(beer) do %>
      <div class="beer-card">
        <div class="beer-card-body" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(beer.photo) %>">
          <div class="beer-card-link">
            <div class="beer-card-name">
              <p><%= raw " <i class='fas fa-star'></i> " * beer.rating.round %></p>
              <%= beer.name %>
            </div>
            <div class="beer-card-alcohol">
              <%= beer.alcohol_percentage %>%<br>
            </div>
            <div class="beer-card-brewery">
              <%= beer.brewery.name %><br>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
