<h1>Here are all batches for <%= @beer.name %>:</h1>

<ul>
<% @batches.each do |batch| %>
  <%= link_to beer_batch_path(:beer_id, batch) do %>
    <li>Beer Name: <%= batch.beer.name %></li>
    <li>Batch ID: <%= batch.id %></li>
    <li>Bottled Date: <%= batch.bottled_date %></li><br><br>
  <% end %>
<% end %>
</ul>

<%= link_to "Go back to beer", beer_path(@beer), class: 'go-to-beers-btn' %>
