<style>
.btn-navbar {
  color: white;
}
.dropup, .dropright, .dropdown, .dropleft{
  color:white;
}
.dropdown-menu{
  background:none;
  border: none;
  top: -40px !important;
}




.dropdown button {
  color: white;
  background:none;
  border: none;
  box-shadow: none;
}

.btn-navbar{
    background-color: rgba(0,0,0,0.7) !important;
  }


</style>

<% def current_class?(test_path) %>
<% return ' btn-active' if request.path == test_path %>
<% ' ' %>
<% end %>

<div class="container-navbar">
  <div class="left-size">
    <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "logo" %>
    <% end %>
  </div>
  <div class="dropdown">
    <button class="dropdown-toggle drop-btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
    <div class="dropdown-menu dropdown-menu-right col-white" aria-labelledby="dropdownMenuButton">
      <%= link_to root_path, class: "dropdown-item btn-navbar #{current_class?(root_path)}" do %>
      <i class="fas fa-home"> Home</i>
    <% end %>
    <%= link_to beers_path, class: "dropdown-item btn-navbar #{current_class?(beers_path)}" do %>
        <i class="fas fa-beer"> Beer</i>
      <% end %>
    <%= link_to breweries_path, class: "dropdown-item btn-navbar #{current_class?(breweries_path)}" do %>
        <i class="fas fa-industry"> Breweries</i>
    <% end %>
    <%= link_to posts_path, class: "dropdown-item btn-navbar #{current_class?(posts_path)}" do %>
      <i class="fas fa-mail-bulk"> Wall</i>
    <% end %>
    <%= link_to notifs_path, class: "dropdown-item btn-navbar #{current_class?(notifs_path)}" do %>
        <i class="fas fa-bell"> Activity</i>
    <% end %>
    <%= link_to profile_path(current_user.id), class: "dropdown-item btn-navbar #{current_class?(profile_path(current_user.id))}" do %>
      <i class="fas fa-user"> Profile</i>
    <% end %>
    <%= link_to destroy_user_session_path, method: 'delete', class: "dropdown-item btn-navbar " do %>
      <i class="fas fa-sign-out-alt"> Log out</i>
    <% end %>
    </div>
  </div>

</div>
