<style>
  .btn-navbar {
    color: white;
  }

</style>

<% def current_class?(test_path) %>
  <% return ' btn-active' if request.path == test_path %>
  <% ' ' %>
<% end %>

<div class="container-navbar">
  <div class="left-size">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "logo" %>
    <% end %>
  </div>
  <div class="container-buttons">
    <%= link_to "Home", root_path, class: "btn-navbar #{current_class?(root_path)}" %>
     <!-- <%#link_to "Messages", root_path, class: "btn-navbar #{current_class?(root_path)}" %> -->
    <%= link_to "Profile", root_path(current_user.id), class: "btn-navbar #{current_class?(root_path(current_user.id))}" %>
    <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "btn-navbar " %>
    <%= cl_image_tag current_user.photo , class: "avatar" %>
  </div>
</div>
