<style>
  .container-navbar {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
  }
  .logo {
    filter: invert(100%);
  }
</style>

<% def current_class?(test_path) %>
  <% return ' btn-active' if request.path == test_path %>
  <% ' ' %>
<% end %>

<div class="container-navbar">
  <div class="left-size">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "logo" %>
    <% end %>
    <div class="search-form">
      <%= form_tag(beers_path, method: :get) do%>
        <%= text_field_tag(:search, params[:search],  placeholder: 'Search for a beer or a brewery...') %>
        <% end %>
    </div>
  </div>
  <div class="container-buttons">
    <%= link_to "Home", root_path, class: "btn-navbar #{current_class?(root_path)}" %>
    <%= link_to "Profile", profile_path(current_user.id), class: "btn-navbar #{current_class?(root_path(current_user.id))}" %>
    <%= link_to "Log out", root_path, method: 'delete', class: "btn-navbar " %>
    <%= cl_image_tag current_user.photo , class: "avatar" %>
  </div>
</div>
