<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TapIntoIt -- Don't just drink your beer, tap into it!</title>
    <meta name="description" content="Your premier source of beer knowledge.">
    <meta property="og:title" content="TapIntoIt - Experience your beer">
    <meta property="og:image" url="https://res.cloudinary.com/discwhk4f/image/upload/v1553079101/craft_beer.jpg">
    <meta property="og:description" content="TapIntoIt is the premier way you can not just drink beer, but experience it.">
    <meta property="og:site_name" content="TapIntoIt"/>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,500" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if current_page?(root_path) %>
    <style>
      .container-footer {
        position: absolute;
      }
    </style>
      <%= render 'shared/navbar/navbar' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <%= render 'footer/footer' %>
    <% else %>
      <div class="page-wrapper">
        <%= render 'shared/navbar/navbar' %>
        <div class="page-content">
          <%= yield %>
        </div>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
        <%= render 'footer/footer' %>
      </div>
    <% end %>
  </body>
</html>
